# ---- Fichier de configuration ----
# Remplacez les valeurs par défaut par les vôtres. Ne partagez pas ce fichier avec vos clés d'API ou mots de passe réels.

# --- Backend config ---

# App port : Le backend est accessible à l'adresse suivante http://localhost:BACKEND_APP_PORT
BACKEND_APP_PORT=8000

# port utilisé pour accéder à la base de données depuis votre appareil.
BACKEND_DB_PORT=5432

# Frontend port : Le frontend est accessible à l'adresse suivante http://localhost:FRONTEND_PORT
FRONTEND_PORT=5173

# chroma port : utilisé pour accéder à Chroma depuis votre appareil.
CHROMA_HOST_PORT=5435

# -- Database configuration --

# entrer ici les identifiants de la base de données. Ce sont des exemples et doivent être modifiés
POSTGRES_USER=my_pg_user
POSTGRES_PASSWORD=my_pg_password
POSTGRES_DB=kosmio_db

# -- API KEYS --
# mettre ici vos clés d'API. Ne partagez pas ce fichier avec vos clés d'API réelles.

OVH_API_KEY= #à renseigner

CHROMA_TOKEN=my_chroma_token


DATABASE_URL=postgresql://my_pg_user:my_pg_password@localhost:5432/kosmio_db

# MINIO bucket pour les images
BUCKET_API_PORT=9000
BUCKET_CONSOLE_PORT=9001
MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=minio_password
